{% include 'header.html' %}

{% block content %}

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MBTI.gg: {{title}}</title>
</head>
<style>
    body {
        -ms-overflow-style: none;     /* IE, Edge */
    }
    ::-webkit-scrollbar {
        display: none;                /* Chrome, Safari, Opera */
    }
</style>
<body>
    <div class="container">
        <fieldset>
            <div>
                <input type="hidden" name="nno" id="nno" value="{{n_board.nno}}">

                <label class="col-form-label mt-4">제목</label>
                    <input type="text" class="form-control" name="title" id="title" value="{{n_board.title}}">
            </div>
            <div>
                <label class="col-form-label mt-4">작성자</label>
                    <input type="text" class="form-control" name="writer"id ='writer' value="{{n_board.writer}}" readonly >
            </div>
            <div>
                <label class="col-form-label mt-4">내용</label>
                    <textarea class="form-control" name="content" id="content" rows="3" style="height: 387px;">{{n_board.content}}</textarea>
            </div>
            </p>
            <div class="row" align="right">
                <p class="bs-component">
                    <button type="button" class="btn btn-secondary" id="del_btn">삭제</button>
                    <button type="button" class="btn btn-secondary" id="mod_btn">수정</button>
                    <button type="button" class="btn btn-secondary" id="lst_btn">목록</button>
                </p>
            </div>
        </fieldset>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#lst_btn').click(function() {
            alert('목록으로 돌아갑니다.')
            location.href = '../' ;
        });
        $('#del_btn').click(function() {
            alert('글을 삭제합니다.')
            notice_nno     = $('#nno').val()
            location.href  = '../notice_delete?nno='+notice_nno
        });
        $('#mod_btn').click(function() {
            alert('글을 수정합니다.')
            notice_nno     = $('#nno').val()
            notice_title   = $('#title').val()
            notice_content = $('#content').val()
            location.href  = '../notice_modify?nno='+notice_nno+'&title='+notice_title+'&content='+notice_content ;
        });
    })
</script>

</body>
</html>

{% endblock %}

{% include 'footer.html'%}