{% include 'header.html' %}

{% block content %}
<style>
    body {
        -ms-overflow-style: none;     /* IE, Edge */
    }
    ::-webkit-scrollbar {
        display: none;                /* Chrome, Safari, Opera */
    }
</style>
<body>
    <section class="py-5 text-center container bg-light">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light" style="text-transform:uppercase">MBTI를 선택해주세요</h1>
        </div>
      </div>
    </section>
</body>
{% endblock %}

{% include 'footer.html'%}