{% include 'header.html' %}

{% block content %}

<html>
<body>
  <div class="container">
    <h1 align="center">MBTI.gg 회원정보</h1></p>
    <form action="./info/submit" method="post">
      {% csrf_token %}
      <fieldset>
        <legend class="mt-4">기본 정보</legend>
        <div class="form-group">
          <label class="form-label mt-4">ID</label>
          <input type="text" readonly="" class="form-control" value="{{user_id}}" name="user_id">
        </div>
        <div class="form-group">
          <label class="form-label mt-4">별명</label>
          <input type="text" class="form-control" value="{{user_name}}" name="name">
        </div>
        <div class="form-group">
          <label class="form-label mt-4">비밀번호</label>
          <input type="password" class="form-control" placeholder="Type New Password" name="pwd">
        </div>
        <br>
        <br>
      </fieldset>
      <fieldset>
        <legend class="mt-4">필수 정보</legend>
        <div class="form-group">
          <label class="form-label mt-4">MBTI</label>
          <select class="form-select" name="mbti_id">
            <option value>------------</option>
            <option value="INTJ"{% if user_mbti == "INTJ" %} selected{% endif %}>INTJ: 용의주도한 전략가</option>
            <option value="INTP"{% if user_mbti == "INTP" %} selected{% endif %}>INTP: 논리적인 사색가</option>
            <option value="ENTJ"{% if user_mbti == "ENTJ" %} selected{% endif %}>ENTJ: 대담한 통솔자</option>
            <option value="ENTP"{% if user_mbti == "ENTP" %} selected{% endif %}>ENTP: 뜨거운 논쟁을 즐기는 변론가</option>
            <option value="INFJ"{% if user_mbti == "INFJ" %} selected{% endif %}>INFJ: 선의의 옹호자</option>
            <option value="INFP"{% if user_mbti == "INFP" %} selected{% endif %}>INFP: 열정적인 중재자</option>
            <option value="ENFJ"{% if user_mbti == "ENFJ" %} selected{% endif %}>ENFJ: 정의로운 사회운동가</option>
            <option value="ENFP"{% if user_mbti == "ENFP" %} selected{% endif %}>ENFP: 재기발랄한 활동가</option>
            <option value="ISTJ"{% if user_mbti == "ISTJ" %} selected{% endif %}>ISTJ: 청렴결백한 논리주의자</option>
            <option value="ISFJ"{% if user_mbti == "ISFJ" %} selected{% endif %}>ISFJ: 용감한 수호자</option>
            <option value="ESTJ"{% if user_mbti == "ESTJ" %} selected{% endif %}>ESTJ: 엄격한 관리자</option>
            <option value="ESFJ"{% if user_mbti == "ESFJ" %} selected{% endif %}>ESFJ: 사교적인 외교관</option>
            <option value="ISTP"{% if user_mbti == "ISTP" %} selected{% endif %}>ISTP: 만능 재주꾼</option>
            <option value="ISFP"{% if user_mbti == "ISFP" %} selected{% endif %}>ISFP: 호기심 많은 예술가</option>
            <option value="ESTP"{% if user_mbti == "ESTP" %} selected{% endif %}>ESTP: 모험을 즐기는 사업가</option>
            <option value="ESFP"{% if user_mbti == "ESFP" %} selected{% endif %}>ESFP: 자유로운 영혼의 연예인</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label mt-4">성별</label>
          <select class="form-select" name="gender">
            <option value selected>----</option>
            <option value="M"{% if user_gender == "M" %} selected{% endif %}>남성</option>
            <option value="F"{% if user_gender == "F" %} selected{% endif %}>여성</option>
          </select>
        </div>
        <br>
        <br>
      </fieldset>
      <fieldset>
        <legend class="mt-4">선택 정보</legend>
        <div class="form-group">
          <label class="form-label mt-4">생년월일</label>
          <input type="text" class="form-control" {% if user_birth_dt == "" %}placeholder="YYYY-MM-DD"{% else %}value="{{user_birth_dt}}"{% endif %} name="birth_dt">
        </div>
        <br>
        <br>
      </fieldset>
      <label class="form-label mt-4">
        <button type="submit" class="btn btn-primary">회원정보 수정</button>
      </label>
    </form>
  </div>
</body>
</html>

{% endblock %}

{% include 'footer.html'%}