{% include 'header.html' %}

{% block content %}

<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body {
        -ms-overflow-style: none;     /* IE, Edge */
    }
    ::-webkit-scrollbar {
        display: none;                /* Chrome, Safari, Opera */
    }
</style>
<body>
    <div align="center">
        <h3>
            <a href="https://www.16personalities.com/ko/%EB%AC%B4%EB%A3%8C-%EC%84%B1%EA%B2%A9-%EC%9C%A0%ED%98%95-%EA%B2%80%EC%82%AC"target="_blank">
                MBTI 검사 사이트로 이동!</a>
        </h3>
    </div>
</body>
</html>

{% endblock %}

{% include 'footer.html'%}